button, .square{
	cursor: pointer;
}
.container {
	margin: 20px auto 0 auto;
	max-width: 400px;
	text-align: center;
}
.gameMode {
	margin-bottom: 20px;
}
#board {
	max-width: 400px;
	margin-bottom: 20px;
}
.row {
	width: 100%;
}
.square {
	border: 1px solid #000;
	display: inline-block;
	height: 100px;
	width: 30%;
}
.X {
	background-color: red;
}
.O {
	background-color: blue;
}